#include "resource.h"
#include "afxres.h"

IDI_ICON ICON DISCARDABLE "re_.ico"
IDI_ICON_16 ICON DISCARDABLE "re_16.ico"

READER MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open\tCtrl+O", IDM_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "&Quit\tCtrl+Q", IDM_APP_EXIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Wrap\tCtrl+W", IDM_VIEW_WRAP, CHECKED
    END
    MENUITEM "&About", IDM_ABOUT
END

READER ACCELERATORS DISCARDABLE
BEGIN
    "^O", IDM_FILE_OPEN, ASCII, NOINVERT
    "^Q", IDM_APP_EXIT, ASCII, NOINVERT
    "^W", IDM_VIEW_WRAP, ASCII, NOINVERT
END
